<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hola</h1>
    <pre>
        Being a web framework, Django needs a convenient way to generate HTML dynamically.
        The most common approach relies on templates. A template contains the static parts
        of the desired HTML output as well as some special syntax describing how dynamic content will be inserted.
        For a hands-on example of creating HTML pages with templates, see Tutorial 3.
    </pre>
</body>
</html>